@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap");

.App {
  font-family: "Merriweather", serif;
  text-align: center;
  max-width: 42rem;
  margin-right: auto;
  margin-left: auto;
}

body {
  background-color: aqua;
  display: block;
  font-size: large;
  margin: 8px;
}

input {
  border-radius: 1rem;
  padding: 1rem;
  width: 70%;
}
